<div class="slideshow__slider slider nsa-accesstive" id="Slider-1741058787733dffc2e6">
  <div
    class="slideshow__slide slider__slide is-active nsa-accesstive"
    id="Slide-1741058787733e1bbbfa"
    style="
      --slideshow-overlay-opacity: 0;
      --slideshow-title-size: 50px;
      --slideshow-pc-text-position-vertical: flex-end;
      --slideshow-pc-text-position-horizontal: flex-start;
      --slideshow-mobile-text-position-vertical: center;
      --slideshow-mobile-text-position-horizontal: flex-start;
      --slideshow-pc-text-align: left;
      --slideshow-mobile-text-align: left;
      --slideshow-pc-text-color: #ffffff;
      --slideshow-text-color--mb: #2c2c2c;
      --slideshow-text-area-bg-color:#ffffff;
    "
  >
    <div class="slideshow-slide__media nsa-accesstive" style="--image-show-position: center center;">
      <img
        alt=""
        class="slideshow-slide__image display-none display-block-desktop nsa-accesstive"
        data-scale="hover-scale"
        decoding="async"
        fetchpriority="high"
        height="923"
        loading="eager"
        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo.jpg?v=1772524213"
        srcset="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_375x_d8c892ff-ba18-4539-8bb9-deced2e8f6b1.jpg?v=1772524242 375w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_540x_35d75ada-aabc-4039-8ffb-c6320ed2e884.jpg?v=1772524246 540w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_720x_092f613c-b2da-4ce3-af99-5dbcdfe360a8.jpg?v=1772524253 720w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_900x_31a46aa1-48dd-49fc-afd7-0821b12764d2.jpg?v=1772524258 900w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1080x_ba5d4f85-7d12-4bee-8f8e-4f2378568ea0.jpg?v=1772524217 1080w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1296x_c2f703e3-2ba1-4ef0-b8dd-d04c176ca4af.jpg?v=1772524222 1296w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1512x_800d5349-d2fc-4b3e-9bb6-ca616f623b22.jpg?v=1772524227 1512w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1728x_8327b5f9-c48e-4830-849f-513807801959.jpg?v=1772524232 1728w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1920x_cf8e9399-d9a7-4bc4-8c33-e8e4b76b59a5.jpg?v=1772524236 1920w"
        width="1920"
      >
      <img
        alt=""
        class="slideshow-slide__image display-none-desktop nsa-accesstive"
        data-scale="hover-scale"
        decoding="async"
        fetchpriority="high"
        height="923"
        loading="eager"
        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo.jpg?v=1772524213"
        srcset="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_375x_d8c892ff-ba18-4539-8bb9-deced2e8f6b1.jpg?v=1772524242 375w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_540x_35d75ada-aabc-4039-8ffb-c6320ed2e884.jpg?v=1772524246 540w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_720x_092f613c-b2da-4ce3-af99-5dbcdfe360a8.jpg?v=1772524253 720w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_900x_31a46aa1-48dd-49fc-afd7-0821b12764d2.jpg?v=1772524258 900w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1080x_ba5d4f85-7d12-4bee-8f8e-4f2378568ea0.jpg?v=1772524217 1080w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1296x_c2f703e3-2ba1-4ef0-b8dd-d04c176ca4af.jpg?v=1772524222 1296w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1512x_800d5349-d2fc-4b3e-9bb6-ca616f623b22.jpg?v=1772524227 1512w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1728x_8327b5f9-c48e-4830-849f-513807801959.jpg?v=1772524232 1728w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/meet-yarbo_1920x_cf8e9399-d9a7-4bc4-8c33-e8e4b76b59a5.jpg?v=1772524236 1920w"
        width="1920"
      >
    </div>
    <div
      class="slideshow-slide__text-wrapper slideshow-slide__text-max-width nsa-accesstive"
      style="--pc-content-width: 1200px; --pc-content-padding: 5%;"
    >
      <div class="slideshow-slide__text nsa-accesstive">
        <div class="slideshow-slide__buttons nsa-accesstive"></div>
      </div>
    </div>
  </div>
</div>
<div class="shopline-section advc-section advc" id="shopify-section-17421921102298d2a6e3">
  <style>
    #shopify-section-17421921102298d2a6e3 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 32px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-title {
        --advc-title-font-size: 24px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-body {
        --advc-body-font-size: 14px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 .advc-sub-title {
      --advc-sub-title-font-family: "Poppins";
      --advc-sub-title-font-weight: 600;
      --advc-sub-title-font-style: normal;
      --advc-sub-title-color: #000000;
      --advc-sub-title-font-size: 26px;
      --advc-sub-title-letter-spacing: 0em;
      --advc-sub-title-line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-sub-title {
        --advc-sub-title-font-size: 24px;
      }
    }

    .advc-sub-title {
      font-family: var(--advc-sub-title-font-family);
      color: var(--advc-sub-title-color);
      font-size: var(--advc-sub-title-font-size);
      letter-spacing: var(--advc-sub-title-letter-spacing);
      line-height: var(--advc-sub-title-line-height);
      font-weight: var(--advc-sub-title-font-weight);
      font-style: var(--advc-sub-title-font-style);
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 0px;
      --advc-btn-border-opacity: 0;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 17, 17, 17;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 12px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 .advc-video {
      --advc-video-border-thickness: 0px;
      --advc-video-border-opacity: 1;
      --advc-video-border-radius: 0px;
      --advc-video-border-color: 0, 0, 0;
      --advc-video-shadow-opacity: 0.2;
      --advc-video-shadow-offset-x: 4px;
      --advc-video-shadow-offset-y: 4px;
      --advc-video-shadow-blur: 0px;
      --advc-video-shadow-color: 0, 0, 0;
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 60px;
      --advc-container-padding-bottom: 60px;
      --advc-container-padding-right: 40px;
      --advc-container-padding-left: 40px;
      --advc-container-max-width: 1920px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 0px;
        --advc-container-padding-bottom: 0px;
        --advc-container-padding-right: 0px;
        --advc-container-padding-left: 0px;
      }
    }
  </style>
  <style>
    #shopify-section-17421921102298d2a6e3 {
      --advc-container-background: rgba(, 1);
    }
  </style>
  <div
    class="advc-container-background advc-container advc-text-columns-with-videos advc-d-block advc-d-md-none qy"
    data-section-id="17421921102298d2a6e3"
    data-section-type="advc-text-columns-with-videos"
    style="
      --column-gap: 0px;
      --text-align: left;
      --content-inline-padding: 10px;
    "
  >
    <div class="advc-text-columns-with-videos__wrap splide">
      <div class="advc-text-columns-with-videos__main splide__track">
        <ul class="advc-text-columns-with-videos__list splide__list">
          <li class="advc-text-columns-with-videos__item splide__slide">
            <div
              class="advc-video advc-video-wrapper video--17421921102294f90288 video--r16-9 advc-text-columns-with-videos__video"
              data-id="17421921102294f90288"
              data-video-id="1K-m2jFwm6I"
            >
              <script id="Video-data-17421921102294f90288" type="text/json">
                {
                  "video_url": "https://www.youtube.com/watch?v=1K-m2jFwm6I",
                  "autoplay": true,
                  "background_position": "center",
                  "sub_title": "",
                  "button_text": "",
                  "cover": null,
                  "description": "",
                  "jump_link": ""
                }
              </script>
              <div class="video__cover">
                <svg
                  class="placeholder-svg"
                  fill="#F3F3F3"
                  height="380"
                  viewbox="0 0 380 380"
                  width="380"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="#F3F3F3" opacity="0.15">
                  <path d="M180.903 200.5V179L203.403 189.5L180.903 200.5Z" fill="#fff"></path>
                  <rect height="83" rx="6" stroke="black" stroke-linejoin="round" stroke-width="4" width="125" x="127.403" y="148"></rect>
                  <path d="M149.456 150V229.5" stroke="black" stroke-width="3"></path>
                  <path d="M230.351 150V229.5" stroke="black" stroke-width="3"></path>
                  <path d="M129 167.667L149.456 167.667M129 189.794H149.456M129 211.368H149.456" stroke="black" stroke-width="3"></path>
                  <path d="M230.351 167.667L250.807 167.667M230.351 189.794H250.807M230.351 211.368H250.807" stroke="black" stroke-width="3"></path>
                  <path d="M180.141 201.14V177.895L203.386 189.28L180.141 201.14Z" stroke="black" stroke-linejoin="round" stroke-width="3"></path>
                  </g>
                </svg>
              </div>
              <div class="video__controll">
                <div
                  class="video-data"
                  data-aspect-ratio="16:9"
                  data-autoplay="true"
                  data-loop=""
                  data-quiet="true"
                  data-slient="false"
                  data-type="youtube"
                  data-url="https://www.youtube.com/watch?v=1K-m2jFwm6I"
                  data-video-id="1K-m2jFwm6I"
                  id="Video-17421921102294f90288"
                ></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="advc-previewer hide" id="advc-previewer-17421921102298d2a6e3">
        <div class="advc-previewer__wrap">
          <div class="advc-previewer__mask"></div>
          <div class="advc-previewer__close-btn"><i class="advc-icon icon"></i></div>
          <div class="advc-previewer__body">
            <div class="advc-previewer__area"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if section.blocks.size > 0 -%}
  <section class="custom-product-swiper" data-section="{{ section.id }}" id="CustomProductSwiper-{{ section.id }}">
    <custom-product-swiper class="swiper-container">
      <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide" data-swiper-slide-index="{{ forloop.index0 }}">
              <div class="custom-product-swiper-slide">
                <div class="custom-product-swiper-image">
                  {%- if block.settings.image != blank -%}
                    {{
                      block.settings.image
                      | image_url: width: 1200
                      | image_tag: class: 'custom-product-swiper-featured-image', loading: 'lazy'
                    }}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'custom-product-swiper-featured-image' }}
                  {%- endif -%}
                </div>
                <div class="custom-product-swiper-info">
                  <div class="custom-product-swiper-title">{{ block.settings.title }}</div>
                  <div class="custom-product-swiper-desc">{{ block.settings.desc }}</div>
                  <a
                    class="custom-product-swiper-btn {% if block.settings.btn_text == blank %} custom-product-swiper-btn-hide {% endif %}"
                    href="{{ block.settings.btn_link }}"
                  >
                    {{- block.settings.btn_text -}}
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="swiper-nav">
          <img
            alt="&lt;"
            class="swiper-custom-button-prev"
            height="36"
            src="{{ 'product-arrow-left.png' | asset_url }}"
            width="36"
          >
          <img
            alt="&gt;"
            class="swiper-custom-button-next"
            height="36"
            src="{{ 'product-arrow-right.png' | asset_url }}"
            width="36"
          >
        </div>
      </div>
      <div class="thumbnail-grid">
        {%- for block in section.blocks -%}
          <div class="thumbnail-item">
            <div class="thumbnail-image">
              {%- if block.settings.swiper_image != blank -%}
                {{
                  block.settings.swiper_image
                  | image_url: width: 200
                  | image_tag: class: 'thumbnail-img', loading: 'lazy'
                }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'thumbnail-img' }}
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </custom-product-swiper>
  </section>
{%- endif -%}
