{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
{{ 'yb-section-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'yb-base.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_5e1a251a-695b-40a4-8402-c0c72142bdec.css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_ecb8ba27-fd8c-40a1-975b-086a768b3179.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_208a99e7-4a2f-45d5-88e7-2f4ed11c52dc.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_1d4b9d0b-26e3-405c-b38f-93c0e04fef4a.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_e17e85b4-4853-47e1-b928-45f8262128f2.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_0d79c694-2302-4336-9da8-e3f8db4b54a4.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/advanced-capabilities.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video2_875cea7d-b93d-4d99-bbd4-0c518987d22e.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall_72ccc081-c134-4698-bcdc-6003d9c4d774.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_ee0be0a0-0a04-4f3a-9613-5014fc633558.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_588feedb-a84d-4673-b588-2cecf8c1523d.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
></script>

<style>
    #shopify-section-{{ section.id }}  .section-media-wall--header_title{
      font-size: 36px;
      font-weight: 600;
    }
    #shopify-section-{{ section.id }}  .section-media-wall--rewind_button, #shopify-section-{{ section.id }}  .section-media-wall--fastforward_button{
      border: calc(0.125 * var(--font-size)) solid #000;
    }
    #shopify-section-{{ section.id }}  .section-media-wall--play_button, #shopify-section-{{ section.id }}  .section-media-wall--pause_button{
      margin: 0 calc(7.125 * var(--font-size));
    }
    #shopify-section-{{ section.id }}  div:empty{
      display: block;
    }
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }}  .section-media-wall--header_title {
          font-size: calc(1.25 * var(--font-size));
          line-height: 1;
      }
  }
</style>
<div class="migrated-page">
  <div
    id="shopline-section-174153411010338e9115"
    class="shopline-section advc-section advc nsa-accesstive"
    data-original-filter="none"
  >
    <style>
      #shopline-section-174153411010338e9115 {

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: px;
        --advc-container-padding-bottom: px;
        --advc-container-padding-right: px;
        --advc-container-padding-left: px;
        --advc-container-max-width: px;
      }
      @media only screen and (max-width: 750px) {
        #shopline-section-174153411010338e9115 {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: px;
          --advc-container-padding-bottom: px;
          --advc-container-padding-right: px;
          --advc-container-padding-left: px;
        }
      }
    </style>

    <script type="text/json" id="VideoSlide-data-174153411010338e9115">
      {
        "section_height": 650,
        "mobile_height": 500,
        "style": "bars",
        "autoplay": false,
        "autoplay_speed": 7,
        "padding_top": 30,
        "padding_bottom": 30,
        "container_margin_config": {
          "pc": { "left": 0, "right": 0, "top": 0, "bottom": 0 },
          "mobile": { "left": 0, "right": 0, "top": 0, "bottom": 0 }
        }
      }
    </script>
    <script type="text/json" id="VideoSlide-data-block-174153411010338e9115"></script>

    <div
      class="advc-video-slideshow section-174153411010338e9115 nsa-accesstive"
      data-section-type="advc-video-slideshow"
      data-section-id="174153411010338e9115"
      data-length="1"
      data-original-filter="none"
    >
      <style>
        @media only screen and (min-width: 750px) {
          .section-height--174153411010338e9115 {
            height: 650px !important;
          }
        }
        @media only screen and (max-width: 749px) {
          .section-mobile-heigth--174153411010338e9115 {
            height: 500px !important;
          }
        }
      </style>
      <div class="slideshow-wrapper flickity-viewport nsa-accesstive" data-original-filter="none">
        <div
          id="Slideshow-174153411010338e9115"
          class="splide advc-d-none advc-d-md-block nsa-accesstive"
          data-original-filter="none"
        >
          <div
            class="slideshow-track splide__track hero hero--static section-mobile-heigth--174153411010338e9115 section-height--174153411010338e9115 lazyloaded nsa-accesstive"
            data-original-filter="none"
          >
            <div class="flickity-slider splide__list nsa-accesstive" data-original-filter="none">
              <style>
                .section-174153411010338e9115 .hero .slideshow__slide--0 .hero__image-wrapper:after {
                  opacity: 0;
                }
              </style>

              <div
                data-id="1741534110104d32e4fd"
                data-type="video"
                class="slideshow__slide splide__slide slideshow__slide--0 slideshow__slide--index0 slide is-active nsa-accesstive"
                data-original-filter="none"
              >
                <style>
                    #shopline-section-174153411010338e9115 .advc-title[data-block-id='1741534110104d32e4fd']{
                      --advc-title-font-family: "Poppins";
                      --advc-title-font-weight: 600;
                      --advc-title-font-style: normal;
                      --advc-title-color: #ffffff;
                      --advc-title-font-size: 60px;
                      --advc-title-letter-spacing: 0em;
                      --advc-title-line-height: 1;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-title[data-block-id='1741534110104d32e4fd']{
                      --advc-title-font-size: 40px;
                    }
                  }
                     .advc-title{
                      font-family: var(--advc-title-font-family);
                      color: var(--advc-title-color);
                      font-size: var(--advc-title-font-size);
                      letter-spacing: var(--advc-title-letter-spacing);
                      line-height: var(--advc-title-line-height);
                      font-weight: var(--advc-title-font-weight);
                      font-style: var(--advc-title-font-style);
                    }
                </style>

                <style>
                    #shopline-section-174153411010338e9115 .advc-body[data-block-id='1741534110104d32e4fd']{
                      --advc-body-font-family: "Montserrat";
                      --advc-body-font-weight: 400;
                      --advc-body-font-style: normal;
                      --advc-body-color: #ffffff;
                      --advc-body-font-size: 20px;
                      --advc-body-letter-spacing: 0em;
                      --advc-body-line-height: 1.6;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-body[data-block-id='1741534110104d32e4fd']{
                      --advc-body-font-size: 18px;
                    }
                  }
                     .advc-body{
                      font-family: var(--advc-body-font-family);
                      color: var(--advc-body-color);
                      font-size: var(--advc-body-font-size);
                      letter-spacing: var(--advc-body-letter-spacing);
                      line-height: var(--advc-body-line-height);
                      font-weight: var(--advc-body-font-weight);
                      font-style: var(--advc-body-font-style);
                    }
                </style>

                <style>
                    #shopline-section-174153411010338e9115 .advc-sub-title[data-block-id='1741534110104d32e4fd']{
                      --advc-sub-title-font-family: "Montserrat";
                      --advc-sub-title-font-weight: 400;
                      --advc-sub-title-font-style: normal;
                      --advc-sub-title-color: #ffffff;
                      --advc-sub-title-font-size: 16px;
                      --advc-sub-title-letter-spacing: 0.025em;
                      --advc-sub-title-line-height: 1.6;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-sub-title[data-block-id='1741534110104d32e4fd']{
                      --advc-sub-title-font-size: 14px;
                    }
                  }
                     .advc-sub-title{
                      font-family: var(--advc-sub-title-font-family);
                      color: var(--advc-sub-title-color);
                      font-size: var(--advc-sub-title-font-size);
                      letter-spacing: var(--advc-sub-title-letter-spacing);
                      line-height: var(--advc-sub-title-line-height);
                      font-weight: var(--advc-sub-title-font-weight);
                      font-style: var(--advc-sub-title-font-style);
                    }
                </style>

                <style>
                  #shopline-section-174153411010338e9115 .advc-btn[data-block-id="1741534110104d32e4fd"] {
                    --advc-btn-font-family: "Montserrat";
                    --advc-btn-font-weight: 500;
                    --advc-btn-font-style: normal;
                    --advc-btn-font-color: #FFFFFF;
                    --advc-btn-font-size: 13px;
                    --advc-btn-letter-spacing: 0em;
                    --advc-btn-line-height: 1.6;
                    --advc-btn-background: #111111;
                    --advc-btn-border-thickness: 1px;
                    --advc-btn-border-opacity: 1;
                    --advc-btn-border-radius: 0px;
                    --advc-btn-border-outset: 0px;
                    --advc-btn-border-color: 17, 17, 17;
                    --advc-btn-shadow-color: 0, 0, 0;
                    --advc-btn-shadow-opacity: 0;
                    --advc-btn-shadow-offset-x: 0px;
                    --advc-btn-shadow-offset-y: 4px;
                    --advc-btn-shadow-blur: 5px;
                  }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-btn[data-block-id="1741534110104d32e4fd"] {
                      --advc-btn-font-size: 12px;
                    }
                  }
                </style>

                <div class="hero__image-wrapper nsa-accesstive" data-original-filter="none">
                  <div class="slide-video-container nsa-accesstive" data-original-filter="none">
                    <div
                      class="advc-video-wrapper video--1741534110104d32e4fd nsa-accesstive video--playing"
                      data-id="1741534110104d32e4fd"
                      data-original-filter="none"
                    >
                      <script type="text/json" id="Video-data-1741534110104d32e4fd">
                        {
                          "url": "https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4",
                          "background_position": "bottom",
                          "top_subheading": "YARBO 4-in-1",
                          "title": "YARD ROBOT",
                          "subheading": "The World's 1st Modular Yard Care Robot",
                          "text_align": "vertical-bottom horizontal-center",
                          "overlay_opacity": 0,
                          "show_text_shadow": true,
                          "link_text": "",
                          "link_text_2": "",
                          "title_font_color": "#ffffff",
                          "title_pc_font_size": 60,
                          "title_m_font_size": 40,
                          "title_letter_spacing": 0,
                          "title_line_height": 1,
                          "body_font_color": "#ffffff",
                          "body_pc_font_size": 20,
                          "body_m_font_size": 18,
                          "body_letter_spacing": 0,
                          "body_line_height": 1.6,
                          "sub_title_font_color": "#ffffff",
                          "sub_title_pc_font_size": 16,
                          "sub_title_m_font_size": 14,
                          "sub_title_letter_spacing": 25,
                          "sub_title_line_height": 1.6,
                          "btn_pc_font_size": 13,
                          "btn_m_font_size": 12,
                          "btn_letter_spacing": 0,
                          "btn_line_height": 1.6,
                          "btn_font_color": "#FFFFFF",
                          "btn_background": "#111111",
                          "btn_border_color": "#111111",
                          "btn_style": "primary",
                          "btn_hover_animation": "1",
                          "btn_border_thickness": 1,
                          "btn_border_opacity": 100,
                          "btn_border_radius": 0,
                          "btn_shadow_opacity": 0,
                          "btn_shadow_offset_x": 0,
                          "btn_shadow_offset_y": 4,
                          "btn_shadow_blur": 5,
                          "btn_shadow_color": "#000000",
                          "quiet": true,
                          "title_size": 70,
                          "color_accent": "rgba(125, 111, 81, 1)",
                          "cover": null,
                          "title_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Poppins",
                            "style": "normal",
                            "weight": "600",
                            "variants": "600",
                            "system": false
                          },
                          "body_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "400",
                            "variants": "regular",
                            "system": false
                          },
                          "sub_title_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "400",
                            "variants": "regular",
                            "system": false
                          },
                          "btn_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "500",
                            "variants": "500",
                            "system": false
                          }
                        }
                      </script>

                      <div class="video__fallback-cover hide nsa-accesstive" data-original-filter="none"></div>
                      <div class="video__slide-controll video-background nsa-accesstive" data-original-filter="none">
                        <div
                          class="video-data is-sl-video nsa-accesstive"
                          block-id="1741534110104d32e4fd"
                          id="Video-1741534110104d32e4fd"
                          data-video-id="-6"
                          data-type="slvideo"
                          data-url="https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4"
                          data-autoplay="true"
                          data-slient=""
                          data-aspect-ratio=""
                          data-quiet="true"
                          data-has-cover="false"
                          style="height: 100%"
                          data-original-filter="none"
                        >
                          <video
                            playsinline="true"
                            webkit-playsinline="true"
                            muted="true"
                            controlslist="nodownload"
                            preload="auto"
                            loop=""
                            autoplayaspossible="false"
                            videoid="-6"
                            hascover="false"
                            autoplay
                            width="640"
                            height="360"
                            style="width: 100%; height: 100%; object-fit: cover;"
                            data-original-font-size="10.5px"
                            data-original-line-height="15.75px"
                            data-original-word-spacing="0px"
                            data-original-letter-spacing="1.05e-07px"
                            data-original-text-align="start"
                            data-original-font-family="NunitoSans, ui-sans-serif, &quot;system-ui&quot;, &quot;sans-serif&quot;"
                            data-original-zoom="1"
                            class="nsa-accesstive"
                            data-original-filter="none"
                            src="https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4"
                          ></video>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="hero__text-wrap nsa-accesstive" data-original-filter="none">
                  <div class="advc-container g-4 g-md-6 nsa-accesstive" data-original-filter="none">
                    <div
                      class="hero__text-content vertical-bottom horizontal-center nsa-accesstive"
                      data-original-filter="none"
                    >
                      <div class="hero__text-shadow nsa-accesstive" data-original-filter="none">
                        <div
                          class="hero__top-subtitle advc-sub-title nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">
                              YARBO 4-in-1
                            </div>
                          </div>
                        </div>

                        <h2
                          class="advc-title hero__title nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-font-size="60px"
                          data-original-line-height="60px"
                          data-original-word-spacing="0px"
                          data-original-letter-spacing="normal"
                          data-original-text-align="center"
                          data-original-font-family="Poppins"
                          data-original-zoom="1"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">YARD ROBOT</div>
                          </div>
                        </h2>
                        <div
                          class="hero__subtitle advc-body nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">
                              The World's 1st Modular Yard Care Robot
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="splide__pagination splide__pagination--174153411010338e9115 splide-pagination--bars nsa-accesstive"
              data-original-filter="none"
            ></div>
          </div>
        </div>

        <div
          id="Slideshow-174153411010338e9115-mb"
          class="splide advc-d-block advc-d-md-none nsa-accesstive"
          data-original-filter="none"
        >
          <div
            class="splide__track slideshow-track hero hero--static advc-lozad section-mobile-heigth--174153411010338e9115 section-height--174153411010338e9115 nsa-accesstive"
            data-original-filter="none"
          >
            <div class="flickity-slider splide__list nsa-accesstive" data-original-filter="none">
              <style>
                .advc-video-slideshow .hero .slideshow__slide--0 .hero__image-wrapper:after {
                  opacity: 0;
                }
              </style>

              <div
                data-id="1741534110104d32e4fd"
                data-type="video"
                class="slideshow__slide splide__slide slideshow__slide--0 slideshow__slide--index0 slide is-active nsa-accesstive"
                data-original-filter="none"
              >
                <style>
                    #shopline-section-174153411010338e9115 .advc-title[data-block-id='1741534110104d32e4fd']{
                      --advc-title-font-family: "Poppins";
                      --advc-title-font-weight: 600;
                      --advc-title-font-style: normal;
                      --advc-title-color: #ffffff;
                      --advc-title-font-size: 60px;
                      --advc-title-letter-spacing: 0em;
                      --advc-title-line-height: 1;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-title[data-block-id='1741534110104d32e4fd']{
                      --advc-title-font-size: 40px;
                    }
                  }
                     .advc-title{
                      font-family: var(--advc-title-font-family);
                      color: var(--advc-title-color);
                      font-size: var(--advc-title-font-size);
                      letter-spacing: var(--advc-title-letter-spacing);
                      line-height: var(--advc-title-line-height);
                      font-weight: var(--advc-title-font-weight);
                      font-style: var(--advc-title-font-style);
                    }
                </style>

                <style>
                    #shopline-section-174153411010338e9115 .advc-body[data-block-id='1741534110104d32e4fd']{
                      --advc-body-font-family: "Montserrat";
                      --advc-body-font-weight: 400;
                      --advc-body-font-style: normal;
                      --advc-body-color: #ffffff;
                      --advc-body-font-size: 20px;
                      --advc-body-letter-spacing: 0em;
                      --advc-body-line-height: 1.6;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-body[data-block-id='1741534110104d32e4fd']{
                      --advc-body-font-size: 18px;
                    }
                  }
                     .advc-body{
                      font-family: var(--advc-body-font-family);
                      color: var(--advc-body-color);
                      font-size: var(--advc-body-font-size);
                      letter-spacing: var(--advc-body-letter-spacing);
                      line-height: var(--advc-body-line-height);
                      font-weight: var(--advc-body-font-weight);
                      font-style: var(--advc-body-font-style);
                    }
                </style>

                <style>
                    #shopline-section-174153411010338e9115 .advc-sub-title[data-block-id='1741534110104d32e4fd']{
                      --advc-sub-title-font-family: "Montserrat";
                      --advc-sub-title-font-weight: 400;
                      --advc-sub-title-font-style: normal;
                      --advc-sub-title-color: #ffffff;
                      --advc-sub-title-font-size: 16px;
                      --advc-sub-title-letter-spacing: 0.025em;
                      --advc-sub-title-line-height: 1.6;
                    }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-sub-title[data-block-id='1741534110104d32e4fd']{
                      --advc-sub-title-font-size: 14px;
                    }
                  }
                     .advc-sub-title{
                      font-family: var(--advc-sub-title-font-family);
                      color: var(--advc-sub-title-color);
                      font-size: var(--advc-sub-title-font-size);
                      letter-spacing: var(--advc-sub-title-letter-spacing);
                      line-height: var(--advc-sub-title-line-height);
                      font-weight: var(--advc-sub-title-font-weight);
                      font-style: var(--advc-sub-title-font-style);
                    }
                </style>

                <style>
                  #shopline-section-174153411010338e9115 .advc-btn[data-block-id="1741534110104d32e4fd"] {
                    --advc-btn-font-family: "Montserrat";
                    --advc-btn-font-weight: 500;
                    --advc-btn-font-style: normal;
                    --advc-btn-font-color: #FFFFFF;
                    --advc-btn-font-size: 13px;
                    --advc-btn-letter-spacing: 0em;
                    --advc-btn-line-height: 1.6;
                    --advc-btn-background: #111111;
                    --advc-btn-border-thickness: 1px;
                    --advc-btn-border-opacity: 1;
                    --advc-btn-border-radius: 0px;
                    --advc-btn-border-outset: 0px;
                    --advc-btn-border-color: 17, 17, 17;
                    --advc-btn-shadow-color: 0, 0, 0;
                    --advc-btn-shadow-opacity: 0;
                    --advc-btn-shadow-offset-x: 0px;
                    --advc-btn-shadow-offset-y: 4px;
                    --advc-btn-shadow-blur: 5px;
                  }
                  @media only screen and (max-width: 750px) {
                    #shopline-section-174153411010338e9115 .advc-btn[data-block-id="1741534110104d32e4fd"] {
                      --advc-btn-font-size: 12px;
                    }
                  }
                </style>

                <div class="hero__image-wrapper nsa-accesstive" data-original-filter="none">
                  <div class="slide-video-container nsa-accesstive" data-original-filter="none">
                    <div
                      class="advc-video-wrapper video--1741534110104d32e4fd nsa-accesstive"
                      data-id="1741534110104d32e4fd"
                      data-original-filter="none"
                    >
                      <script type="text/json" id="Video-data-1741534110104d32e4fd">
                        {
                          "url": "https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4",
                          "background_position": "bottom",
                          "top_subheading": "YARBO 4-in-1",
                          "title": "YARD ROBOT",
                          "subheading": "The World's 1st Modular Yard Care Robot",
                          "text_align": "vertical-bottom horizontal-center",
                          "overlay_opacity": 0,
                          "show_text_shadow": true,
                          "link_text": "",
                          "link_text_2": "",
                          "title_font_color": "#ffffff",
                          "title_pc_font_size": 60,
                          "title_m_font_size": 40,
                          "title_letter_spacing": 0,
                          "title_line_height": 1,
                          "body_font_color": "#ffffff",
                          "body_pc_font_size": 20,
                          "body_m_font_size": 18,
                          "body_letter_spacing": 0,
                          "body_line_height": 1.6,
                          "sub_title_font_color": "#ffffff",
                          "sub_title_pc_font_size": 16,
                          "sub_title_m_font_size": 14,
                          "sub_title_letter_spacing": 25,
                          "sub_title_line_height": 1.6,
                          "btn_pc_font_size": 13,
                          "btn_m_font_size": 12,
                          "btn_letter_spacing": 0,
                          "btn_line_height": 1.6,
                          "btn_font_color": "#FFFFFF",
                          "btn_background": "#111111",
                          "btn_border_color": "#111111",
                          "btn_style": "primary",
                          "btn_hover_animation": "1",
                          "btn_border_thickness": 1,
                          "btn_border_opacity": 100,
                          "btn_border_radius": 0,
                          "btn_shadow_opacity": 0,
                          "btn_shadow_offset_x": 0,
                          "btn_shadow_offset_y": 4,
                          "btn_shadow_blur": 5,
                          "btn_shadow_color": "#000000",
                          "quiet": true,
                          "title_size": 70,
                          "color_accent": "rgba(125, 111, 81, 1)",
                          "cover": null,
                          "title_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Poppins",
                            "style": "normal",
                            "weight": "600",
                            "variants": "600",
                            "system": false
                          },
                          "body_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "400",
                            "variants": "regular",
                            "system": false
                          },
                          "sub_title_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "400",
                            "variants": "regular",
                            "system": false
                          },
                          "btn_font_family": {
                            "fallback_families": "sans-serif",
                            "family": "Montserrat",
                            "style": "normal",
                            "weight": "500",
                            "variants": "500",
                            "system": false
                          }
                        }
                      </script>

                      <div class="video__fallback-cover hide nsa-accesstive" data-original-filter="none"></div>
                      <div class="video__slide-controll video-background nsa-accesstive" data-original-filter="none">
                        <div
                          class="video-data is-sl-video nsa-accesstive"
                          block-id="1741534110104d32e4fd"
                          id="Video-1741534110104d32e4fd"
                          data-video-id="-6"
                          data-type="slvideo"
                          data-url="https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4"
                          data-autoplay="true"
                          data-slient=""
                          data-aspect-ratio=""
                          data-quiet="true"
                          data-has-cover="false"
                          style="height: 100%"
                          data-original-filter="none"
                        >
                          <video playsinline="true" webkit-playsinline="true" muted="true" controlslist="nodownload" preload="auto" loop
                            autoplay aspossible="false" videoid="-6" hascover="false" width="640" height="360"
                            style="width: 100%; height: 100%; object-fit: cover;">
                            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/210919d84b1c4de59a63b88b609daced.mp4">
                          </video>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="hero__text-wrap nsa-accesstive" data-original-filter="none">
                  <div class="advc-container g-4 g-md-6 nsa-accesstive" data-original-filter="none">
                    <div
                      class="hero__text-content vertical-bottom horizontal-center nsa-accesstive"
                      data-original-filter="none"
                    >
                      <div class="hero__text-shadow nsa-accesstive" data-original-filter="none">
                        <div
                          class="hero__top-subtitle advc-sub-title nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">
                              YARBO 4-in-1
                            </div>
                          </div>
                        </div>

                        <h2
                          class="advc-title hero__title nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-font-size="60px"
                          data-original-line-height="60px"
                          data-original-word-spacing="0px"
                          data-original-letter-spacing="normal"
                          data-original-text-align="center"
                          data-original-font-family="Poppins"
                          data-original-zoom="1"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">YARD ROBOT</div>
                          </div>
                        </h2>
                        <div
                          class="hero__subtitle advc-body nsa-accesstive"
                          data-block-id="1741534110104d32e4fd"
                          data-original-filter="none"
                        >
                          <div class="animation-cropper nsa-accesstive" data-original-filter="none">
                            <div class="animation-contents nsa-accesstive" data-original-filter="none">
                              The World's 1st Modular Yard Care Robot
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="splide__pagination splide__pagination--174153411010338e9115 splide-pagination--bars nsa-accesstive"
              data-original-filter="none"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <style>
      @media (max-width: 767px) {#shopline-section-174153411010338e9115 .hero__image-wrapper {padding-bottom: 200px; background-color: black; } #shopline-section-174153411010338e9115 .advc-video-wrapper {bottom: 2px !important; } #shopline-section-174153411010338e9115 .advc-video-wrapper:after {content: ""; position: absolute; bottom: 0; height: 200px; width: 100%; background: linear-gradient(to top, #000, #0000); }}
    </style>
  </div>
  <div class="shopline-section" id="shopify-section-17423781638103a3e334">
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('#shopify-section-17423781638103a3e334 .swiper', {
          slidesPerView: 1.2,
          spaceBetween: 8,
          loop: true,
          centeredSlides: true,
        });
      });
    </script>
    <style>
      .text-white a {
        color: white !important;
      }
    </style>
    <div class="flex justify-between py-20 mobile:hidden page-width">
      <div class="relative aspect-[386/530] w-[32.17%]">
        <div
          aria-label="Video Player"
          class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
          id="vjs_video_0"
          lang="en-us"
          role="region"
          style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
          tabindex="-1"
          translate="no"
        >
          <video
            autoplay=""
            class="vjs-tech"
            id="vjs_video_1078_html5_api"
            loop=""
            muted="muted"
            playsinline="playsinline"
            src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-crzjbiys/watermarked/720/YarboLawnMower.mp4"
            style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
            tabindex="-1"
          ></video>
          <div aria-disabled="false" class="vjs-poster">
            <picture class="vjs-poster" tabindex="-1"
              ><img
                alt=""
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3-74.png?v=1772521717"
              >
            </picture>
          </div>
        </div>
        <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
          <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Mowed by</p>
          <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">Yarbo Lawn Mower</p>
          <a
            class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
            href="https://www.yarbo.com/products/lawn-mower-robot"
            >Learn More &gt;</a
          >
        </div>
      </div>
      <div class="relative aspect-[386/530] w-[32.17%]">
        <div
          aria-label="Video Player"
          class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
          id="vjs_video_1"
          lang="en-us"
          role="region"
          style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
          tabindex="-1"
          translate="no"
        >
          <video
            autoplay=""
            class="vjs-tech"
            id="vjs_video_1078_html5_api"
            loop=""
            muted="muted"
            playsinline="playsinline"
            src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-mogktiyz/watermarked/720/YarboSnowBlower.mp4"
            style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
            tabindex="-1"
          ></video>
          <div aria-disabled="false" class="vjs-poster">
            <picture class="vjs-poster" tabindex="-1"
              ><img
                alt=""
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2-75.png?v=1772521149"
              >
            </picture>
          </div>
        </div>
        <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
          <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Cleared by</p>
          <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">Yarbo Snow Blower</p>
          <a
            class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
            href="https://www.yarbo.com/products/snow-blower-robot"
            >Learn More &gt;</a
          >
        </div>
      </div>
      <div class="relative aspect-[386/530] w-[32.17%]">
        <div
          aria-label="Video Player"
          class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
          id="vjs_video_2"
          lang="en-us"
          role="region"
          style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
          tabindex="-1"
          translate="no"
        >
          <video
            autoplay=""
            class="vjs-tech"
            id="vjs_video_1078_html5_api"
            loop=""
            muted="muted"
            playsinline="playsinline"
            src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-awxdprqm/watermarked/720/YarboBlower.mp4"
            style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
            tabindex="-1"
          ></video>
          <div aria-disabled="false" class="vjs-poster">
            <picture class="vjs-poster" tabindex="-1"
              ><img
                alt=""
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1-80.png?v=1772521019"
              >
            </picture>
          </div>
        </div>
        <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
          <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Swept by</p>
          <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">Yarbo Blower</p>
          <a
            class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
            href="https://www.yarbo.com/products/blower-robot"
            >Learn More &gt;</a
          >
        </div>
      </div>
    </div>
    <div class="py-8 md:hidden mobile:px-[16PX]">
      <div class="swiper swiper-initialized swiper-horizontal swiper-ios relative swiper-backface-hidden">
        <div
          aria-live="polite"
          class="swiper-wrapper"
          id="swiper-wrapper-a3e6cc951ca969d4"
          style="transition-duration: 0ms; transition-delay: 0ms;"
        >
          <div
            aria-label="1 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="0"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_0"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-crzjbiys/watermarked/720/YarboLawnMower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3-74.png?v=1772521717"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Mowed by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">
                Yarbo Lawn Mower
              </p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/lawn-mower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
          <div
            aria-label="2 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="1"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_1"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-mogktiyz/watermarked/720/YarboSnowBlower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2-75.png?v=1772521149"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Cleared by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">
                Yarbo Snow Blower
              </p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/snow-blower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
          <div
            aria-label="3 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="2"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_2"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-awxdprqm/watermarked/720/YarboBlower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1-80.png?v=1772521019"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Swept by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">Yarbo Blower</p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/blower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
          <div
            aria-label="4 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="3"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_0"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-crzjbiys/watermarked/720/YarboLawnMower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3-74.png?v=1772521717"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Mowed by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">
                Yarbo Lawn Mower
              </p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/lawn-mower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
          <div
            aria-label="5 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="4"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_1"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-mogktiyz/watermarked/720/YarboSnowBlower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2-75.png?v=1772521149"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Cleared by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">
                Yarbo Snow Blower
              </p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/snow-blower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
          <div
            aria-label="6 / 6"
            class="swiper-slide relative aspect-[308/420]"
            data-swiper-slide-index="5"
            role="group"
          >
            <div
              aria-label="Video Player"
              class="video-js will-change-transform vjs_video_1078-dimensions vjs-controls-disabled vjs-workinghover vjs-v8 vjs-has-started vjs-playing vjs-layout-small vjs-user-inactive"
              id="vjs_video_2"
              lang="en-us"
              role="region"
              style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
              tabindex="-1"
              translate="no"
            >
              <video
                autoplay=""
                class="vjs-tech"
                id="vjs_video_1078_html5_api"
                loop=""
                muted="muted"
                playsinline="playsinline"
                src="https://cdn4.fireworktv.com/medias/2025/1/2/1735811292-awxdprqm/watermarked/720/YarboBlower.mp4"
                style="object-fit: cover; height: 100%; width: 100%; object-position: center center; border-radius: 16px; background: rgb(204, 204, 204);"
                tabindex="-1"
              ></video>
              <div aria-disabled="false" class="vjs-poster">
                <picture class="vjs-poster" tabindex="-1"
                  ><img
                    alt=""
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1-80.png?v=1772521019"
                  >
                </picture>
              </div>
            </div>
            <div class="absolute left-0 top-0 w-full rounded-t-[16px] bg-gradient-to-b from-[rgba(0,0,0,0.5)] to-transparent text-center text-white">
              <p class="pt-[48px] text-2xl/[32px] font-bold mobile:pt-8 mobile:text-xl/7">Swept by</p>
              <p class="pt-[4px] text-[32px]/[42px] font-extrabold mobile:pt-1 mobile:text-[28px]/9">Yarbo Blower</p>
              <a
                class="block pt-[16px] text-base/[20px] font-semibold mobile:pt-4 mobile:text-base/5"
                href="https://www.yarbo.com/products/blower-robot"
                >Learn More &gt;</a
              >
            </div>
          </div>
        </div>
        <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
      </div>
    </div>
    <style>
      @media (max-width: 767px) {
        #shopify-section-17423781638103a3e334 .hero__image-wrapper {
          padding-bottom: 200px;
          background-color: black;
        }
        #shopify-section-17423781638103a3e334 .advc-video-wrapper:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 200px;
          width: 100%;
          background: linear-gradient(to top, #000, #0000);
        }
        #shopify-section-17423781638103a3e334 .advc-video-wrapper {
          bottom: 2px !important;
        }
      }
    </style>
  </div>

  {% render 'shopify-section-1742371781435e1ab265' %}
  {% render 'yarbo-community' %}

  <div class="shopline-section advc-section advc" id="shopify-section-1741535520216b7f5983">
    <style>
      #shopify-section-1741535520216b7f5983 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: px;
        --advc-container-padding-bottom: px;
        --advc-container-padding-right: px;
        --advc-container-padding-left: px;
        --advc-container-max-width: px;
      }
      @media only screen and (max-width: 750px) {
        #shopify-section-1741535520216b7f5983 {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: px;
          --advc-container-padding-bottom: px;
          --advc-container-padding-right: px;
          --advc-container-padding-left: px;
        }
      }
    </style>
    <div
      class="advc-featured-carousel section-1741535520216b7f5983"
      data-section-id="1741535520216b7f5983"
      data-section-type="advc-featured-carousel"
    >
      <div
        autoplay="true"
        autoplay-speed="7"
        class="splide advc-featured-carousel__swiper"
        mobile-pagination-type="touch"
        pagination-type="left_right_arrow"
        parallax="false"
      >
        <div class="splide__track">
          <div class="splide__list advc-featured-carousel__swiper__wrapper pc--auto mb--auto anim--dynamic_switch">
            <div
              class="block-174153517006252a03b7 splide__slide advc-featured-carousel__swiper__slider advc-a-nested is-active"
              href="javascript:;"
              index="0"
            >
              <style>
                #shopify-section-1741535520216b7f5983 .advc-title[data-block-id='174153517006252a03b7'] {
                  --advc-title-font-family: 'Poppins';
                  --advc-title-font-weight: 600;
                  --advc-title-font-style: normal;
                  --advc-title-color: #ffffff;
                  --advc-title-font-size: 32px;
                  --advc-title-letter-spacing: 0em;
                  --advc-title-line-height: 1.2;
                }
                @media only screen and (max-width: 750px) {
                  #shopify-section-1741535520216b7f5983 .advc-title[data-block-id='174153517006252a03b7'] {
                    --advc-title-font-size: 36px;
                  }
                }
                .advc-title {
                  font-family: var(--advc-title-font-family);
                  color: var(--advc-title-color);
                  font-size: var(--advc-title-font-size);
                  letter-spacing: var(--advc-title-letter-spacing);
                  line-height: var(--advc-title-line-height);
                  font-weight: var(--advc-title-font-weight);
                  font-style: var(--advc-title-font-style);
                }
              </style>
              <style>
                #shopify-section-1741535520216b7f5983 .advc-sub-title[data-block-id='174153517006252a03b7'] {
                  --advc-sub-title-font-family: 'Montserrat';
                  --advc-sub-title-font-weight: 400;
                  --advc-sub-title-font-style: normal;
                  --advc-sub-title-color: #ffffff;
                  --advc-sub-title-font-size: 16px;
                  --advc-sub-title-letter-spacing: 0.3em;
                  --advc-sub-title-line-height: 1.6;
                }
                @media only screen and (max-width: 750px) {
                  #shopify-section-1741535520216b7f5983 .advc-sub-title[data-block-id='174153517006252a03b7'] {
                    --advc-sub-title-font-size: 14px;
                  }
                }
                .advc-sub-title {
                  font-family: var(--advc-sub-title-font-family);
                  color: var(--advc-sub-title-color);
                  font-size: var(--advc-sub-title-font-size);
                  letter-spacing: var(--advc-sub-title-letter-spacing);
                  line-height: var(--advc-sub-title-line-height);
                  font-weight: var(--advc-sub-title-font-weight);
                  font-style: var(--advc-sub-title-font-style);
                }
              </style>
              <style>
                #shopify-section-1741535520216b7f5983 .advc-body[data-block-id='174153517006252a03b7'] {
                  --advc-body-font-family: 'Montserrat';
                  --advc-body-font-weight: 400;
                  --advc-body-font-style: normal;
                  --advc-body-color: #ffffff;
                  --advc-body-font-size: 16px;
                  --advc-body-letter-spacing: 0em;
                  --advc-body-line-height: 1.6;
                }
                @media only screen and (max-width: 750px) {
                  #shopify-section-1741535520216b7f5983 .advc-body[data-block-id='174153517006252a03b7'] {
                    --advc-body-font-size: 14px;
                  }
                }
                .advc-body {
                  font-family: var(--advc-body-font-family);
                  color: var(--advc-body-color);
                  font-size: var(--advc-body-font-size);
                  letter-spacing: var(--advc-body-letter-spacing);
                  line-height: var(--advc-body-line-height);
                  font-weight: var(--advc-body-font-weight);
                  font-style: var(--advc-body-font-style);
                }
              </style>
              <style>
                #shopify-section-1741535520216b7f5983 .advc-btn[data-block-id='174153517006252a03b7'] {
                  --advc-btn-font-family: 'Montserrat';
                  --advc-btn-font-weight: 500;
                  --advc-btn-font-style: normal;
                  --advc-btn-font-color: ;
                  --advc-btn-font-size: 13px;
                  --advc-btn-letter-spacing: 0em;
                  --advc-btn-line-height: 1.6;
                  --advc-btn-background: ;
                  --advc-btn-border-thickness: 1px;
                  --advc-btn-border-opacity: 1;
                  --advc-btn-border-radius: 0px;
                  --advc-btn-border-outset: 0px;
                  --advc-btn-border-color: ;
                  --advc-btn-shadow-color: 0, 0, 0;
                  --advc-btn-shadow-opacity: 0;
                  --advc-btn-shadow-offset-x: 0px;
                  --advc-btn-shadow-offset-y: 4px;
                  --advc-btn-shadow-blur: 5px;
                }
                @media only screen and (max-width: 750px) {
                  #shopify-section-1741535520216b7f5983 .advc-btn[data-block-id='174153517006252a03b7'] {
                    --advc-btn-font-size: 12px;
                  }
                }
              </style>
              <style>
                .block-174153517006252a03b7 {
                  --block-pc-mask-opacity: 0;
                  --block-mb-mask-opacity: 0;
                }
                .block-174153517006252a03b7 .advc-featured-carousel-btn1 {
                  --advc-btn-font-color: #1c1d1d !important;
                  --advc-btn-background: #ffffff !important;
                  --advc-btn-border-color: 255, 255, 255 !important;
                }
                .block-174153517006252a03b7 .advc-featured-carousel-btn2 {
                  --advc-btn-font-color: #1c1d1d !important;
                  --advc-btn-background: #ffffff !important;
                  --advc-btn-border-color: 255, 255, 255 !important;
                }
              </style>
              <div class="advc-featured-carousel__swiper__slider-img advc-image-position-center-desktop advc-image-position-center-tablet">
                <img
                  alt=""
                  class="advc-image lazyloaded advc-parallax advc-d-none advc-d-md-block"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="452"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/awards.webp?v=1772523766"
                  width="2560"
                >
                <img
                  alt=""
                  class="advc-image advc-lozad lazyloaded advc-parallax advc-d-md-none"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="902"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-award.webp?v=1772523843"
                  width="750"
                >
              </div>
              <div class="advc-featured-carousel__mask"></div>
              <div class="advc-featured-carousel__content pc-content--top-right mb-content--left"></div>
            </div>
          </div>
        </div>
        <style>
          .section-1741535520216b7f5983 .advc-splide-pagination-bullet:after {
            animation-duration: 7s !important;
          }

          .section-1741535520216b7f5983 .active-cricle-ani {
            animation-delay: 3.5s !important;
          }
          .section-1741535520216b7f5983 .active-cricle-ani:after {
            animation-duration: 3.5s !important;
          }
          .section-1741535520216b7f5983 .active-cricle-ani:before {
            animation-duration: 7s !important;
          }
        </style>
      </div>
    </div>
  </div>
  <div class="shopline-section advc-section advc" id="shopify-section-1741588925864bd7de84">
    <style>
      #shopify-section-1741588925864bd7de84 .advc-title {
        --advc-title-font-family: 'Poppins';
        --advc-title-font-weight: 600;
        --advc-title-font-style: normal;
        --advc-title-color: #000000;
        --advc-title-font-size: 40px;
        --advc-title-letter-spacing: 0em;
        --advc-title-line-height: 1.2;
      }
      @media only screen and (max-width: 750px) {
        #shopify-section-1741588925864bd7de84 .advc-title {
          --advc-title-font-size: 25px;
        }
      }
      .advc-title {
        font-family: var(--advc-title-font-family);
        color: var(--advc-title-color);
        font-size: var(--advc-title-font-size);
        letter-spacing: var(--advc-title-letter-spacing);
        line-height: var(--advc-title-line-height);
        font-weight: var(--advc-title-font-weight);
        font-style: var(--advc-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741588925864bd7de84 .advc-body {
        --advc-body-font-family: 'Montserrat';
        --advc-body-font-weight: 400;
        --advc-body-font-style: normal;
        --advc-body-color: #000000;
        --advc-body-font-size: 16px;
        --advc-body-letter-spacing: 0em;
        --advc-body-line-height: 1.6;
      }
      @media only screen and (max-width: 750px) {
        #shopify-section-1741588925864bd7de84 .advc-body {
          --advc-body-font-size: 14px;
        }
      }
      .advc-body {
        font-family: var(--advc-body-font-family);
        color: var(--advc-body-color);
        font-size: var(--advc-body-font-size);
        letter-spacing: var(--advc-body-letter-spacing);
        line-height: var(--advc-body-line-height);
        font-weight: var(--advc-body-font-weight);
        font-style: var(--advc-body-font-style);
      }
    </style>
    <style>
      #shopify-section-1741588925864bd7de84 .advc-btn {
        --advc-btn-font-family: 'Montserrat';
        --advc-btn-font-weight: 500;
        --advc-btn-font-style: normal;
        --advc-btn-font-color: #ffffff;
        --advc-btn-font-size: 13px;
        --advc-btn-letter-spacing: 0em;
        --advc-btn-line-height: 1.6;
        --advc-btn-background: #111111;
        --advc-btn-border-thickness: 1px;
        --advc-btn-border-opacity: 1;
        --advc-btn-border-radius: 0px;
        --advc-btn-border-outset: 0px;
        --advc-btn-border-color: 17, 17, 17;
        --advc-btn-shadow-color: 0, 0, 0;
        --advc-btn-shadow-opacity: 0;
        --advc-btn-shadow-offset-x: 0px;
        --advc-btn-shadow-offset-y: 4px;
        --advc-btn-shadow-blur: 5px;
      }
      @media only screen and (max-width: 750px) {
        #shopify-section-1741588925864bd7de84 .advc-btn {
          --advc-btn-font-size: 12px;
        }
      }
    </style>
    <style>
      #shopify-section-1741588925864bd7de84 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: 100px;
        --advc-container-padding-bottom: 30px;
        --advc-container-padding-right: 40px;
        --advc-container-padding-left: 40px;
        --advc-container-max-width: 1920px;
      }
      @media only screen and (max-width: 750px) {
        #shopify-section-1741588925864bd7de84 {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: 40px;
          --advc-container-padding-bottom: 40px;
          --advc-container-padding-right: 20px;
          --advc-container-padding-left: 20px;
        }
      }
    </style>
    <style>
      #shopify-section-1741588925864bd7de84 {
        --advc-container-background: rgba(0, 0, 0, 0);
      }
    </style>
    <style>
      #shopify-section-1741588925864bd7de84 {
        position: relative;
      }
    </style>
    <div class="advc-cta__bg advc-container-background"></div>
    <script id="advc-cta-1741588925864bd7de84" type="text/json">
      {
        "pc_show": true,
        "mb_show": true,
        "title_scale_ani": false,
        "text_align": "center",
        "btn_align": "bottom",
        "container_bg_color": "rgba(0,0,0,0)",
        "container_bg_color_gradient": "",
        "container_max_width": 1920,
        "title_font_color": "#000000",
        "title_font_color_gradient": "",
        "title_pc_font_size": 40,
        "title_m_font_size": 25,
        "title_letter_spacing": 0,
        "title_line_height": 1.2,
        "body_font_color": "#000000",
        "body_pc_font_size": 16,
        "body_m_font_size": 14,
        "body_letter_spacing": 0,
        "body_line_height": 1.6,
        "btn_pc_font_size": 13,
        "btn_m_font_size": 12,
        "btn_letter_spacing": 0,
        "btn_line_height": 1.6,
        "btn_font_color": "#FFFFFF",
        "btn_background": "#111111",
        "btn_border_color": "#111111",
        "btn_style": "primary",
        "btn_hover_animation": "1",
        "btn_border_thickness": 1,
        "btn_border_opacity": 100,
        "btn_border_radius": 0,
        "btn_shadow_opacity": 0,
        "btn_shadow_offset_x": 0,
        "btn_shadow_offset_y": 4,
        "btn_shadow_blur": 5,
        "btn_shadow_color": "#000000",
        "container_config": {
          "pc": { "left": 40, "right": 40, "top": 100, "bottom": 30, "lock": false },
          "mobile": { "left": 20, "right": 20, "top": 40, "bottom": 40 }
        },
        "container_margin_config": {
          "pc": { "left": 0, "right": 0, "top": 0, "bottom": 0 },
          "mobile": { "left": 0, "right": 0, "top": 0, "bottom": 0 }
        },
        "bg_image": null,
        "title_font_family": {
          "fallback_families": "sans-serif",
          "family": "Poppins",
          "style": "normal",
          "weight": "600",
          "variants": "600",
          "system": false
        },
        "body_font_family": {
          "fallback_families": "sans-serif",
          "family": "Montserrat",
          "style": "normal",
          "weight": "400",
          "variants": "regular",
          "system": false
        },
        "btn_font_family": {
          "fallback_families": "sans-serif",
          "family": "Montserrat",
          "style": "normal",
          "weight": "500",
          "variants": "500",
          "system": false
        }
      }
    </script>
    <div
      class="advc-cta advc-container section-1741588925864bd7de84 advc-cta--center advc-cta-btn--bottom advc-d-flex advc-d-md-flex"
      data-section-id="1741588925864bd7de84"
      data-section-type="advc-cta"
      style="justify-content: center;"
    >
      <div class="advc-cta__content advc-cta--center">
        <h2 class="advc-cta__title advc-custom-title-tag advc-title">Advanced Capabilities</h2>
      </div>
    </div>
  </div>
  <div class="shopline-section" id="shopify-section-17421194945730c20b2b">
    <div id="advanced-capabilities__parent-17421194945730c20b2b" style="background-color: rgb(245 245 245);">
      <div class="advanced-capabilities__container">
        <div class="advanced-capabilities">
          <div class="advanced-capabilities__column advanced-capabilities__column1">
            <div class="advanced-item" style="aspect-ratio: 304 / 338;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img1.webp?v=1772520218"
              >
              <p class="advanced-item__text1">Operating Temperature -13°F to +140°F</p>
              <div class="advanced-item__text2List">
                <p class="advanced-item__text2">
                  <i class="advanced-item__text2_pot"></i>
                  <span class="advanced-item__text2_content">Cold-Resistant</span>
                </p>
                <p class="advanced-item__text2">
                  <i class="advanced-item__text2_pot"></i>
                  <span class="advanced-item__text2_content">High-Capacity</span>
                </p>
              </div>
            </div>
            <div class="advanced-item" style="aspect-ratio: 304 / 220;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img4.webp?v=1772520371"
              >
              <p class="advanced-item__text1">Smart Route Planning</p>
            </div>
          </div>
          <div class="advanced-capabilities__column advanced-capabilities__column2">
            <div class="advanced-item advanced-item2" style="aspect-ratio: 632 / 338;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img2.webp?v=1772520377"
              >
              <p class="advanced-item__text1">Yarbo Snow Blower</p>
            </div>
            <div class="advanced-item advanced-item5" style="aspect-ratio: 304 / 220;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img5.webp?v=1772520356"
              >
              <p class="advanced-item__text1">Anti-Theft Design</p>
            </div>
            <div class="advanced-item advanced-item6" style="aspect-ratio: 304 / 220;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img6.webp?v=1772520366"
              >
              <p class="advanced-item__text1">App Control &amp; Remote Control</p>
            </div>
          </div>
          <div class="advanced-capabilities__column advanced-capabilities__column3">
            <div class="advanced-item" style="aspect-ratio: 304 / 216;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img3.webp?v=1772520226"
              >
              <p class="advanced-item__text1">Suitable for Various Terrains</p>
            </div>
            <div class="advanced-item" style="aspect-ratio: 304 / 342;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img7.webp?v=1772520361"
              >
              <p class="advanced-item__text1">365/24/7 Ready to Work with Wireless Auto Recharging</p>
            </div>
          </div>
        </div>
      </div>
      <div class="advanced-capabilities__container-mobile">
        <div class="advanced-capabilities">
          <div class="advanced-capabilities__column-mobile advanced-capabilities__column1—mobile">
            <div class="advanced-item advanced-item2">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img2.webp?v=1772520377"
              >
              <p class="advanced-item__text1">Yarbo Snow Blower</p>
            </div>
          </div>
          <div class="advanced-capabilities__column-mobile advanced-capabilities__column2—mobile">
            <div class="advanced-item advanced-item1" data-order="1" style="aspect-ratio: 169 / 223;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img1.webp?v=1772520218"
              >
              <p class="advanced-item__text1">Operating Temperature -13°F to +140°F</p>
              <div class="advanced-item__text2List">
                <p class="advanced-item__text2">
                  <i class="advanced-item__text2_pot"></i>
                  <span class="advanced-item__text2_content">Cold-Resistant</span>
                </p>
                <p class="advanced-item__text2">
                  <i class="advanced-item__text2_pot"></i>
                  <span class="advanced-item__text2_content">High-Capacity</span>
                </p>
              </div>
            </div>
            <div class="advanced-item advanced-item4" data-order="2" style="aspect-ratio: 169 / 122;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img4.webp?v=1772520371"
              >
              <p class="advanced-item__text1">Smart Route Planning</p>
            </div>
            <div class="advanced-item advanced-item5" data-order="3" style="aspect-ratio: 169 / 122;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img5.webp?v=1772520356"
              >
              <p class="advanced-item__text1">Anti-Theft Design</p>
            </div>
            <div class="advanced-item advanced-item3" data-order="4" style="aspect-ratio: 169 / 120;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img3.webp?v=1772520226"
              >
              <p class="advanced-item__text1">Suitable for Various Terrains</p>
            </div>
            <div class="advanced-item advanced-item7" data-order="5" style="aspect-ratio: 169 / 223;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img7.webp?v=1772520361"
              >
              <p class="advanced-item__text1">365/24/7 Ready to Work with Wireless Auto Recharging</p>
            </div>
            <div class="advanced-item advanced-item6" data-order="6" style="aspect-ratio: 169 / 122;">
              <img
                alt=""
                class="advanced-item__img"
                data-nimg="fill"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/img6.webp?v=1772520366"
              >
              <p class="advanced-item__text1">App Control &amp; Remote Control</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // 获取父元素
      const parent = document.querySelector(
        '#advanced-capabilities__parent-17421194945730c20b2b .advanced-capabilities__column2—mobile'
      );

      if (parent) {
        // 将子元素转换为数组并按 data-order 排序
        const sortedChildren = [...parent.children].sort((a, b) => Number(a.dataset.order) - Number(b.dataset.order));

        // 清空父元素并重新插入排序后的子元素
        parent.innerHTML = '';
        sortedChildren.forEach((child) => parent.appendChild(child));
      }
    </script>
  </div>
  <div class="shopline-section section" id="shopify-section-1742462342383d010ff9">
    <style>
      .spacing-1742462342383d010ff9__container {
        height: 80px;
      }
      @media screen and (max-width: 959px) {
        .spacing-1742462342383d010ff9__container {
          height: 40px;
        }
      }
    </style>
    <div class="spacing-1742462342383d010ff9__container"></div>
  </div>
</div>
{% schema %}
{
  "name": "Smart winter tools"

}
{% endschema %}
