{% render 'sn-anchor-target', anchor_id: section.settings.anchor_id %}
<script
  defer
  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min.js'
></script>
<link
  href='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min.css'
  media='all'
  rel='stylesheet'
  type='text/css'
>

<style>
  #shopify-section-{{ section.id }} .premium-reviews {
      --page-width: 1200px;
      max-width: calc(var(--page-padding, 32px) * 2 + var(--page-width, 1920px));
      box-sizing: border-box;
      padding: 0 var(--page-padding, 32px);
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 32px;
      text-align: center;
  }
  #shopify-section-{{ section.id }} .splide__arrow--prev svg {
      transform: scaleX(1);
  }
  #shopify-section-{{ section.id }} .premium-reviews-title {
      text-align: center;
      font-size: 48px;
      line-height: 58px;
      font-weight: 800;
      margin-bottom: 32px;
  }

  #shopify-section-{{ section.id }} .premium-reviews-slider {
      position: relative;
      background-color: #fff;
      border-radius: 8px;
      padding: 80px 0;
  }

  #shopify-section-{{ section.id }} .premium-reviews-slider .splide__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      background-color: rgba(2, 6, 11, 0.2);
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  #shopify-section-{{ section.id }}.premium-reviews-slider .splide__arrow--prev {
      left: 32px;
  }

  #shopify-section-{{ section.id }} .premium-reviews-slider .splide__arrow--next {
      right: 32px;
  }

  #shopify-section-{{ section.id }} .premium-reviews-item {
      padding: 40px 100px;
      padding-top: 0;
  }

  #shopify-section-{{ section.id }} .premium-reviews-item-warpper {
      max-width: 840px;
      margin: 0 auto;
  }

  #shopify-section-{{ section.id }} .premium-reviews-item-company {
      margin: 0;
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
  }
  #shopify-section-{{ section.id }} .premium-reviews-item-review {
      min-height: 150px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      overflow: hidden;
  }
  #shopify-section-{{ section.id }} .premium-reviews-item-more {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 96, 239, 1) !important;
      text-decoration: underline !important;
  }

  #shopify-section-{{ section.id }} .premium-reviews-icon-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 40px;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
  }
  #shopify-section-{{ section.id }} .premium-reviews-icon {
      height: 65px;
      flex-shrink: 0;
      cursor: pointer;
  }

  #shopify-section-{{ section.id }} .premium-reviews-icon img{
      height: 100%;
      opacity: 0.4;
      pointer-events: none;
  }

  #shopify-section-{{ section.id }} .premium-reviews-icon.active img {
      opacity: 1;
  }

  @media screen and (min-width: 960px) and (max-width: 1439px) {
      #shopify-section-{{ section.id }} .premium-reviews-title {
          font-size: 36px;
          line-height: 44px;
      }
  }


  @media screen and (max-width: 959px) {
      #shopify-section-{{ section.id }} .premium-reviews {
          width: 100%;
          box-sizing: border-box;
          padding: 0 var(--page-padding, 16px);
          margin-top: 40px;
          margin-bottom: 40px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-slider .splide__arrows {
          display: none;
      }
      #shopify-section-{{ section.id }} .premium-reviews-title {
          text-align: center;
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 24px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-slider {
          padding-top: 32px;
          padding-bottom: 40px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-item {
          padding: 24px 16px;
          padding-top: 0;
      }

      #shopify-section-{{ section.id }} .premium-reviews-item-company {
          margin: 0;
          margin-bottom: 16px;
          font-size: 18px;
          line-height: 28px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-item-review {
          min-height: 160px;
          font-size: 14px;
          line-height: 20px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-icon-list {
          gap: 8px 12.5px;
      }
      #shopify-section-{{ section.id }} .premium-reviews-icon {
          height: 20px;
      }
  }
</style>
<script>
  if (!customElements.get('premium-reviews')) {
    class PremiumReviews extends HTMLElement {
      connectedCallback() {
        const _this = this;
        document.addEventListener('DOMContentLoaded', (event) => {
          _this.addEventListener('click', _this.click);
          _this.initSplide();
        });
      }
      disconnectedCallback() {
        this.removeEventListener('click', this.click);
        this.splide && this.splide.destroy();
      }
      click() {
        const ele = event.target.closest('.premium-reviews-icon');
        if (ele) {
          const page = this.splide.Components.Elements.slides.findIndex((slide) => slide.dataset.id === ele.dataset.id);
          if (page >= 0) {
            this.splide.go(page);
            this.splide.Components.Autoplay.play();
          }
        }
      }
      initSplide() {
        this.splide = new Splide(this.querySelector('.splide'), {
          type: 'loop',
          perPage: 1,
          perMove: 1,
          focus: 'center',
          autoplay: true,
          interval: 5000,
          flickMaxPages: 1,
          updateOnMove: true,
          pagination: false,
          arrows: true,
          throttle: 300,
        });
        const setPagination = (page) => {
          const paginationEles = [...(this.querySelectorAll('.premium-reviews-icon') || [])];
          const current = this.splide.Components.Elements.slides[page] || this.splide.Components.Elements[0];
          paginationEles.forEach((ele, index) => {
            if (ele.dataset.id === current.dataset.id) {
              ele.classList.add('active');
            } else {
              ele.classList.remove('active');
            }
          });
        };
        this.splide.on('move', (page) => {
          setPagination(page);
        });
        this.splide.mount();
        setPagination(0);
      }
    }
    customElements.define('premium-reviews', PremiumReviews);
  }
</script>
{% if section.blocks.size > 0 %}
  <premium-reviews>
    <div class='premium-reviews page-width'>
      <h2 class='premium-reviews-title'>{{ section.settings.title }}</h2>
      <div class='premium-reviews-slider splide'>
        <div class='premium-reviews__wrapper splide__track'>
          <ul class='premium-reviews__list splide__list'>
            {% for block in section.blocks %}
              {% if block.type == 'premium_review' %}
                <li
                  class='premium-reviews-item splide__slide'
                  data-id='{{ block.id }}'
                  {{ block.shopify_attributes }}
                >
                  <div class='premium-reviews-item-warpper'>
                    <h2 class='premium-reviews-item-company'>{{ block.settings.company }}</h2>
                    <div class='premium-reviews-item-review'>{{ block.settings.review }}</div>
                    <a
                      class='premium-reviews-item-more'
                      target='_blank'
                      href='{{ block.settings.link }}'
                    >
                      Read More >
                    </a>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class='premium-reviews-icon-list'>
          {% for block in section.blocks %}
            {% if block.type == 'premium_review' %}
              <div
                class='premium-reviews-icon'
                data-index='{{ forloop.index0 }}'
                data-id='{{ block.id }}'
              >
                {% if block.settings.icon != blank %}
                  <img
                    loading='lazy'
                    src='{{ block.settings.icon | image_url: width: 300 }}'
                  >
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class='splide__arrows splide__arrows--ltr custom-arrows'>
          <button
            class='splide__arrow splide__arrow--prev'
            type='button'
            aria-label='Previous slide'
            aria-controls='splide01-track'
          >
            <svg
              width='9'
              height='15'
              viewBox='0 0 9 15'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path d="M7.14661 13.8519C7.23776 13.9431 7.34941 14.0069 7.48158 14.0433C7.61374 14.0798 7.7459 14.0821 7.87806 14.0501C8.01022 14.0182 8.12415 13.9544 8.21986 13.8587C8.31556 13.763 8.37936 13.6491 8.41126 13.5169C8.44316 13.3848 8.44089 13.2526 8.40443 13.1205C8.36797 12.9883 8.30417 12.8766 8.21302 12.7855L2.71693 7.30308L8.21302 1.82066C8.31328 1.7204 8.38164 1.60419 8.4181 1.47202C8.45456 1.33986 8.45684 1.2077 8.42493 1.07554C8.39303 0.943379 8.32695 0.829446 8.22669 0.733743C8.12643 0.63804 8.01022 0.571959 7.87806 0.535501C7.7459 0.499043 7.61374 0.501321 7.48158 0.542337C7.34941 0.583352 7.23776 0.65399 7.14661 0.754251L1.13099 6.76988C0.985156 6.91571 0.912239 7.09344 0.912239 7.30308C0.912239 7.51271 0.985156 7.69045 1.13099 7.83628L7.14661 13.8519Z" fill="white"/>
            </svg>
          </button>
          <button
            class='splide__arrow splide__arrow--next'
            type='button'
            aria-label='Next slide'
            aria-controls='splide01-track'
          >
            <svg
              width='9'
              height='15'
              viewBox='0 0 9 15'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path d="M1.85339 0.890281C1.76224 0.799135 1.65059 0.735332 1.51842 0.698874C1.38626 0.662416 1.2541 0.660137 1.12194 0.692039C0.989779 0.72394 0.875846 0.787742 0.780143 0.883445C0.68444 0.979148 0.620638 1.09308 0.588737 1.22524C0.556836 1.3574 0.559115 1.48956 0.595573 1.62173C0.632031 1.75389 0.695833 1.86554 0.786979 1.95669L6.28307 7.43911L0.786979 12.9215C0.686719 13.0218 0.618359 13.138 0.581901 13.2702C0.545443 13.4023 0.543164 13.5345 0.575065 13.6666C0.606966 13.7988 0.673047 13.9127 0.773307 14.0084C0.873568 14.1041 0.989779 14.1702 1.12194 14.2067C1.2541 14.2431 1.38626 14.2409 1.51842 14.1999C1.65059 14.1588 1.76224 14.0882 1.85339 13.9879L7.86901 7.97231C8.01484 7.82648 8.08776 7.64874 8.08776 7.43911C8.08776 7.22947 8.01484 7.05174 7.86901 6.90591L1.85339 0.890281Z" fill="white"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </premium-reviews>
{% endif %}

{% schema %}
{
  "name": "yv premium-reviews",
  "class": "section migrated-page",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "premium_review",
      "name": "评论",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "图标"
        },
        {
          "type": "text",
          "id": "company",
          "label": "公司名",
          "default": "Forbes"
        },
        {
          "type": "richtext",
          "id": "review",
          "label": "评论",
          "default": "<p>“This winter has been full of heavy snowstorms for millions of people in North America, and with snowstorms comes lots of shoveling—unless you’re fortunate to have the automated Yarbo Snow Blower S1 Plus, announced at CES 2024. Imagine it as a kind of outdoor Roomba.”</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "跳转"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor Id"
    },
    {
      "type": "text",
      "id": "title",
      "label": "标题",
      "default": "Featured On"
    }
  ],
  "presets": [
    {
      "name": "yb premium reviews",
      "settings": {},
      "blocks": [
        {
          "type": "premium_review",
          "settings": {
            "company": "Forbes",
            "review": "<p>“This winter has been full of heavy snowstorms for millions of people in North America, and with snowstorms comes lots of shoveling—unless you’re fortunate to have the automated Yarbo Snow Blower S1 Plus, announced at CES 2024. Imagine it as a kind of outdoor Roomba.”</p>",
            "link": "https://www.forbes.com/sites/forbestechcouncil/2024/03/04/ces-2024-17-exciting-products-that-are-intriguing-tech-experts/?sh=1a2300992ad3"
          }
        }
      ]
    }
  ]
}
{% endschema %}
