<style>
.perfect-cards-div {
    display: grid;
    align-items: center;
    text-align: center;
}
.perfect-section-main-title{
    text-align: center;
}
/* .perfcet-card-text{
    margin: 0px auto;
} */
.perfect-card {
    aspect-ratio: 1/1;
    border-radius: 16px;
}
@media screen and (min-width: 1920px) {
    .perfect-section-main-title {
        font-size: 40px !important;
        line-height: 1.2 !important;
        font-weight: 800 !important;
    }
    .perfect-cards-div {
        margin-top: 64px;
        gap: 16px;
    }
    .perfcet-card-text {
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 1.4;
        /* max-width: 290px; */
        padding: 24px;
    }
    .section-rich-directory-view{
        max-width: 1400px;
        margin: 0px auto;
    }

}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .perfect-cards-div {
        margin-top: 56px;
        gap: 16px;
    }
    .perfect-section-main-title {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 800;
    }
    .perfcet-card-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
        padding: 24px;
        /* max-width: 240px; */
    }
    .section-rich-directory-view {
        max-width: 1200px;
        margin: 0px auto;
    }

}

@media screen and (min-width: 960px) and (max-width: 1439px) {
    .perfect-cards-div {
        margin-top: 48px;
        gap: 16px;
    }
    .perfect-section-main-title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 800;
    }
    .perfcet-card-text {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
        padding: 16px;
        /* max-width: 181px; */
    }
    .section-rich-directory-view {
        max-width: 900px;
        margin: 0px auto;
    }
}

@media screen and (min-width: 680px) and (max-width: 959px) {
    .perfect-cards-div {
        margin-top: 48px;
        gap: 8px;
    }
    .perfect-section-main-title {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 800;
    }
    .perfcet-card-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        padding: 24px;
        /* max-width: 264px; */
    }
    .section-rich-directory-view {
        padding: 0px 24px;
    }
}

@media screen and (max-width: 679px) {
    .perfect-cards-div {
        margin-top: 32px;
        gap: 8px;
    }
    .perfect-section-main-title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 800;
    }
    .perfcet-card-text {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
        padding: 8px;
        /* max-width: 152px; */

    }
    .section-rich-directory-view {
        padding: 0px 16px;
    }
    .perfect-card {
        border-radius: 8px;
    }
}
</style>
{%- assign title = section.settings.title -%}
{% render 'yb-section-style', section: section %}

<div class="yb-section-container">
    <div class="perfect-section">
      <div class="perfect-section-box flex-col">
        {% if title != blank %}
        <div class="yb-section-header">
            <h2 class="perfect-section-main-title lcf-section-title">
            {{ title }}
            </h2>
        </div>
        {% endif %}
        <div class="perfect-cards-div" style="grid-template-columns: repeat({{ section.settings.desktop_columns }}, 1fr);">
          {% for block in section.blocks %}
            <div class="perfect-card" {{ block.shopify_attributes }}
              style="
                align-items: {{ block.settings.text_horizontal_position }};
                justify-content: {{ block.settings.text_vertical_position }};
                {% if block.settings.image != blank %}
                background-image: url('{{ block.settings.image | image_url }}');
                {% endif %}
                background-size: cover; background-position: center;"
              >
              <h4 class="perfcet-card-text text-{{ block.settings.text_vertical_position }}" style="color: {{ block.settings.text_color }};margin:0;">
                {{ block.settings.text }}
              </h4>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
<style>
#shopify-section-{{ section.id }} .perfcet-card-text.text-center {
    text-align: center;
}
#shopify-section-{{ section.id }} .perfcet-card-text.text-flex-start {
    text-align: left;
}
#shopify-section-{{ section.id }} .perfcet-card-text.text-flex-end {
    text-align: right;
}
#shopify-section-{{ section.id }} .perfect-card {
    width: 100%;
    height: 100%;
}
.perfect-section {
  background-color: {{ section.settings.bg_color }} !important;
}

.perfect-card {
  display: flex;
}

@media screen and (max-width: 959px){
  .perfect-cards-div{
    grid-template-columns: repeat({{ section.settings.mobile_columns }}, 1fr) !important;
    gap: 8px;
  }
}
@media screen and (max-width: 679px) {
    .yebo-core-btn-div {
        margin: 0px;
    }
}
</style>

{% schema %}
{
  "name": "Rich Directory View",
  "class": "section",
  "max_blocks": 15,
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "label": "Desktop columns",
      "default": 4,
      "min": 1,
      "max": 4,
      "step": 1
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "Mobile columns",
      "options": [
        {
          "value": "1",
        "label": "1 column"
        },
        {
            "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "section填充"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景颜色",
      "default": "#F5F5F5"
    },
    {
      "type": "range",
      "id": "padding_top_1920",
      "label": "1920顶部填充",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom_1920",
      "label": "1920底部填充",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_top_1440",
      "label": "1440顶部填充",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom_1440",
      "label": "1440底部填充",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_top_960",
      "label": "960顶部填充",
      "default": 64,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom_960",
      "label": "960底部填充",
      "default": 64,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_top_680",
      "label": "680顶部填充",
      "default": 64,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom_680",
      "label": "680底部填充",
      "default": 64,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_top_375",
      "label": "375顶部填充",
      "default": 48,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom_375",
      "label": "375底部填充",
      "default": 48,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "perfect_card",
      "name": "Perfect Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Card Text",
          "default": "<p>Exclusive Communication Channel</p>"
        },
        {
          "type": "select",
          "id": "text_horizontal_position",
          "label": "Text Horizontal Position",
          "options": [
            {
              "value": "flex-start",
              "label": "top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_vertical_position",
          "label": "Text Vertical Position",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        }
      ]
    }
  ]

}
{% endschema %}
