{% render 'section-padding', section_id: section.id, settings: section.settings %}
{% render 'sn-anchor-target', anchor_id: section.settings.anchor_id %}

{%- liquid
  assign s = section.settings

  assign pc_w = s.pc_aspect_ratio_w | default: 16
  assign pc_h = s.pc_aspect_ratio_h | default: 9
  assign pc_ratio = pc_w | append: '/' | append: pc_h

  assign h5_w = s.h5_aspect_ratio_w | default: 16
  assign h5_h = s.h5_aspect_ratio_h | default: 9
  assign h5_ratio = h5_w | append: '/' | append: h5_h
-%}
<div class='overflow-hidden {% if section.settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
  <div class='page-container'>
    <div class='mb-32 md:mb-40'>
      {% if section.settings.title != blank %}
        <h2 class='text-center text-[36px] leading-[1.1] uppercase md:text-[52px]'>
          {{ section.settings.title }}
        </h2>
      {% endif %}
    </div>
    {% if section.blocks.size > 0 %}
      <div
        x-data='swiperTabsComponent(window.swiperConfig_{{ section.id | replace: '-', '_' }})'
        @resize.window='updateSlider()'
        class='w-full'
      >
        <div class='mx-auto max-w-880'>
          <div
            style='
              --media-aspect-pc: {{ pc_ratio }};
              --media-aspect-h5: {{ h5_ratio }};
            '
            class='
              swiper
              media-swiper
              relative
              aspect-(--media-aspect-h5)
              [overflow:unset]
              md:aspect-(--media-aspect-pc)
            '
          >
            <div class='swiper-wrapper'>
              {% for block in section.blocks %}
                <div class='swiper-slide h-auto!'>
                  {% render 'media-element',
                    class: 'absolute inset-0 w-full h-full',
                    media_class: 'w-full h-full object-cover',
                    media_type: block.settings.media_type,
                    pc_image: block.settings.pc_image,
                    h5_image: block.settings.h5_image,
                    pc_video: block.settings.pc_video,
                    h5_video: block.settings.h5_video,
                    video_url: block.settings.video_url,
                    other_url: block.settings.other_url
                  %}
                  {%- render 'sn-overlay', _settings: block.settings -%}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class='mt-24 flex justify-center-safe md:mt-40'>
          <div class='relative flex items-end justify-between'>
            <div
              class='absolute bottom-0 left-0 z-0 block! h-4 w-full bg-[#CCCCCC]'
            ></div>

            <div class='no-scrollbar relative z-10 flex w-full gap-28 overflow-x-auto pb-12 md:pb-16'>
              {% for block in section.blocks %}
                <div
                  x-ref='tab_{{ forloop.index0 }}'
                  x-bind="tabButton('tab_{{ forloop.index0 }}')"
                  class='shrink-0 cursor-pointer text-[16px]/[1.1] font-bold uppercase transition-colors md:text-[18px]/[1.3] md:hover:text-[#25282A]'
                  data-tab-index='{{ forloop.index0 }}'
                >
                  {{ block.settings.label }}
                </div>
              {% endfor %}

              <div
                class='absolute bottom-0 left-0 block! h-4 bg-[#25282A] transition-all duration-300 ease-out'
                :style='`width: ${sliderWidth}px; transform: translateX(${sliderOffset}px);`'
              ></div>
            </div>
          </div>
        </div>
        <div class='text-swiper swiper mt-20 md:mt-24'>
          <div class='swiper-wrapper'>
            {% for block in section.blocks %}
              <div class='swiper-slide'>
                {% if block.settings.desc != blank %}
                  <div class='text-[16px] leading-[1.3] text-[#515355] md:text-center md:text-[18px]'>
                    {{ block.settings.desc }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>
  (() => {
    window.swiperConfig_{{ section.id | replace: '-', '_' }} = {
      initialTab: 0,
      onInit: (ctx) => {
        ctx.mediaSwiper = new Swiper(ctx.$el.querySelector('.media-swiper'), {
          fadeEffect: { crossFade: true },
          slidesPerView: 1.1,
          spaceBetween: 12,
          breakpoints: {
            768: {
              spaceBetween: 24,
              slidesPerView: 1
            },
          },
          on: {
            slideChange: (swiper) => {
              ctx.updateSlider(`tab_${swiper.activeIndex}`, false);
              ctx.textSwiper.slideTo(swiper.activeIndex);
            },
          },
        });

        ctx.textSwiper = new Swiper(ctx.$el.querySelector('.text-swiper'), {
          effect: 'fade',
          fadeEffect: { crossFade: true },
          on: {
            slideChange: (swiper) => {
              ctx.mediaSwiper.slideTo(swiper.activeIndex);
              ctx.updateSlider(`tab_${swiper.activeIndex}`, false);
            },
          },
        });
      },
      onUpdate: (ctx, tabIndex) => {
        if (ctx.mediaSwiper && ctx.mediaSwiper.activeIndex !== tabIndex) {
          ctx.mediaSwiper.slideTo(tabIndex);
        }
        if (ctx.textSwiper && ctx.textSwiper.activeIndex !== tabIndex) {
          ctx.textSwiper.slideTo(tabIndex);
        }
      },
    };
  })();
</script>
{% schema %}
{
  "name": "Img Text With Label",
  "class": "css-reset tailwind-layout",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor Id"
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "t:settings_schema.animations.settings.animations_reveal_on_scroll.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Spacing Settings"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "h5_padding_top",
      "label": "H5 Padding Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "h5_padding_bottom",
      "label": "H5 Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Media Aspect Ratio"
    },
    {
      "type": "number",
      "id": "pc_aspect_ratio_w",
      "label": "PC Ratio Width"
    },
    {
      "type": "number",
      "id": "pc_aspect_ratio_h",
      "label": "PC Ratio Height"
    },
    {
      "type": "number",
      "id": "h5_aspect_ratio_w",
      "label": "Mobile Ratio Width"
    },
    {
      "type": "number",
      "id": "h5_aspect_ratio_h",
      "label": "Mobile Ratio Height"
    }
  ],
  "blocks": [
    {
      "name": "block",
      "type": "Block",
      "settings": [
        {
          "type": "header",
          "content": "Media Settings"
        },
        {
          "type": "select",
          "id": "media_type",
          "label": "Media Type",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Shopify Video"
            },
            {
              "value": "video_url",
              "label": "External Video URL"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "PC Image"
        },
        {
          "type": "image_picker",
          "id": "h5_image",
          "label": "H5 Image"
        },
        {
          "type": "video",
          "id": "pc_video",
          "label": "PC Shopify Video"
        },
        {
          "type": "video",
          "id": "h5_video",
          "label": "H5 Shopify Video(Optional)"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Platform Video URL (YouTube/Vimeo)",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=NpEaa2P7qZI"
        },
        {
          "type": "text",
          "id": "other_url",
          "label": "Other Video URL",
          "info": "ex: xxx.mp4 (If filled, this takes priority over the Platform Video URL)"
        },
        {
          "type": "header",
          "content": "Overlay Settings"
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show Media Overlay",
          "default": false
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 40
        },
        {
          "type": "header",
          "content": "Content Settings"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Desc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Img Text With Label",
      "settings": {
        "title": "<p>SEE YARBO IN ACTION</p>"
      },
      "blocks": [
        {
          "type": "Block",
          "settings": {
            "label": "Circular Driveway",
            "desc": "<p>24″ clearing width with adjustable 6–40 ft throw covers wide two-car lanes.33</p>"
          }
        },
        {
          "type": "Block",
          "settings": {
            "label": "Sidewalks",
            "desc": "<p>24″ clearing width with adjustable 6–40 ft throw covers wide two-car lanes.22</p>"
          }
        },
        {
          "type": "Block",
          "settings": {
            "label": "Multi-Zone Management",
            "desc": "<p>24″ clearing width with adjustable 6–40 ft throw covers wide two-car lanes.11</p>"
          }
        },
        {
          "type": "Block",
          "settings": {
            "label": "Gravel Driveway",
            "desc": "<p>24″ clearing width with adjustable 6–40 ft throw covers wide two-car lanes.</p>"
          }
        },
        {
          "type": "Block",
          "settings": {
            "label": "Large Driveway",
            "desc": "<p>24″ clearing width with adjustable 6–40 ft throw covers wide two-car lanes.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
